@use 'src/scss' as *;

.card{
    @include flex(stretch, middle);
    flex-direction: column;

    width: 200px;
    height: 250px;
    padding: 15px;

    background-color: $white;
    border-radius: $border-radius;
    border: 2px solid $main-color;
    
}

.card:hover, details:hover{
    h2{
        color: $main-color;
        cursor: pointer;
    }
}

.image{
    width: 70%;
    margin: auto;
    flex-shrink: 2;

    background-color: $white;
}

.details{
    flex-shrink: 1;
    margin: auto;
    h2{
        font-size: 1.25rem;
    }
}

.details:hover{
    color: $white
}