$body-bg: #f5f5f5;
$main-color: #e53262;
$txt-color: #2d2d2d;
$white: #FFF;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 10px;

$mobile-width: 760px;
$desktop-xsm: 980px;
$desktop-sm: 1080px;
$desktop-md: 1280px;

$font-family: "Montserrat", sans-serif;